#header-wrapper {
    margin-bottom: 3em;
    padding-bottom: 5em;
}

.box.style1 {
    width: 100%;
}

.icon {
    margin-right: 1em;
}

@media screen and (max-width: 736px) {
    #header-wrapper {
        margin-bottom: 0;
        height: 0;
    }
}
