.wrapper {
    min-height: calc(100vh - 199px); /*199px - header height*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#header-wrapper {
    margin-bottom: 3em;
    padding-bottom: 3em;
}

.icon {
    padding-right: 1em;
}

.form {
    text-align: center;
}

.form h2 {
    text-align: left;
}

.feedback-form {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.form-inputs-area {
    display: grid;
    grid-gap: 15px;
}

.form-textarea {
    display: grid;
}

.form-item {
    margin-right: 10px;
    padding: 15px;
    font-size: 1em;
    color: rgba(119, 119, 119, 255);
    border-radius: 6px;
    border: 0;
    box-sizing: border-box;
    outline: none;
}

.form-textarea-style {
    padding-top: 15px;
    resize: none;
}

.button {
    margin: 2em auto;
}

@media screen and (max-width: 736px) {
    #header-wrapper {
        margin-bottom: 3em;
        height: 0;
    }

    #footer {
        margin: 2em 20px 2em 20px;
    }

    .feedback-form {
        grid-template-columns: 1fr;
    }

    .form-textarea-style {
        margin-top: 1em;
        padding-bottom: 5em;
    }

    .form-item {
        margin-right: 0;
    }
}
