@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700");
@import url("font-awesome.min.css");

/* Reset */

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: middle;
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}

	body {
		line-height: 1;
	}

	ol, ul {
		list-style: none;
	}

	blockquote, q {
		quotes: none;
	}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	body {
		-webkit-text-size-adjust: none;
	}

/* Box Model */

	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

/* Containers */

	.container {
		margin-left: auto;
		margin-right: auto;
	}

	.container.\31 25\25 {
		width: 100%;
		max-width: 1200px;
		min-width: 960px;
	}

	.container.\37 5\25 {
		width: 720px;
	}

	.container.\35 0\25 {
		width: 480px;
	}

	.container.\32 5\25 {
		width: 240px;
	}

	.container {
		width: 960px;
	}

	@media screen and (min-width: 737px) {

		.container.\31 25\25 {
			width: 100%;
			max-width: 1500px;
			min-width: 1200px;
		}

		.container.\37 5\25 {
			width: 900px;
		}

		.container.\35 0\25 {
			width: 600px;
		}

		.container.\32 5\25 {
			width: 300px;
		}

		.container {
			width: 1200px;
		}

	}

	@media screen and (min-width: 737px) and (max-width: 1200px) {

		.container.\31 25\25 {
			width: 100%;
			max-width: 1250px;
			min-width: 1000px;
		}

		.container.\37 5\25 {
			width: 750px;
		}

		.container.\35 0\25 {
			width: 500px;
		}

		.container.\32 5\25 {
			width: 250px;
		}

		.container {
			width: 1000px;
		}

	}

	@media screen and (max-width: 736px) {

		.container.\31 25\25 {
			width: 100%;
			max-width: 125%;
			min-width: 100%;
		}

		.container.\37 5\25 {
			width: 75%;
		}

		.container.\35 0\25 {
			width: 50%;
		}

		.container.\32 5\25 {
			width: 25%;
		}

		.container {
			width: 100% !important;
		}

	}

/* Grid */

	.row {
		border-bottom: solid 1px transparent;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.row > * {
		float: left;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.row:after, .row:before {
		content: '';
		display: block;
		clear: both;
		height: 0;
	}

	.row.uniform > * > :first-child {
		margin-top: 0;
	}

	.row.uniform > * > :last-child {
		margin-bottom: 0;
	}

	.row.\30 \25 > * {
		padding: 0 0 0 0px;
	}

	.row.\30 \25 {
		margin: 0 0 -1px 0px;
	}

	.row.uniform.\30 \25 > * {
		padding: 0px 0 0 0px;
	}

	.row.uniform.\30 \25 {
		margin: 0px 0 -1px 0px;
	}

	.row > * {
		padding: 0 0 0 40px;
	}

	.row {
		margin: 0 0 -1px -40px;
	}

	.row.uniform > * {
		padding: 40px 0 0 40px;
	}

	.row.uniform {
		margin: -40px 0 -1px -40px;
	}

	.row.\32 00\25 > * {
		padding: 0 0 0 80px;
	}

	.row.\32 00\25 {
		margin: 0 0 -1px -80px;
	}

	.row.uniform.\32 00\25 > * {
		padding: 80px 0 0 80px;
	}

	.row.uniform.\32 00\25 {
		margin: -80px 0 -1px -80px;
	}

	.row.\31 50\25 > * {
		padding: 0 0 0 60px;
	}

	.row.\31 50\25 {
		margin: 0 0 -1px -60px;
	}

	.row.uniform.\31 50\25 > * {
		padding: 60px 0 0 60px;
	}

	.row.uniform.\31 50\25 {
		margin: -60px 0 -1px -60px;
	}

	.row.\35 0\25 > * {
		padding: 0 0 0 20px;
	}

	.row.\35 0\25 {
		margin: 0 0 -1px -20px;
	}

	.row.uniform.\35 0\25 > * {
		padding: 20px 0 0 20px;
	}

	.row.uniform.\35 0\25 {
		margin: -20px 0 -1px -20px;
	}

	.row.\32 5\25 > * {
		padding: 0 0 0 10px;
	}

	.row.\32 5\25 {
		margin: 0 0 -1px -10px;
	}

	.row.uniform.\32 5\25 > * {
		padding: 10px 0 0 10px;
	}

	.row.uniform.\32 5\25 {
		margin: -10px 0 -1px -10px;
	}

	.\31 2u, .\31 2u\24 {
		width: 100%;
		clear: none;
		margin-left: 0;
	}

	.\31 1u, .\31 1u\24 {
		width: 91.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\31 0u, .\31 0u\24 {
		width: 83.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\39 u, .\39 u\24 {
		width: 75%;
		clear: none;
		margin-left: 0;
	}

	.\38 u, .\38 u\24 {
		width: 66.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\37 u, .\37 u\24 {
		width: 58.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\36 u, .\36 u\24 {
		width: 50%;
		clear: none;
		margin-left: 0;
	}

	.\35 u, .\35 u\24 {
		width: 41.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\34 u, .\34 u\24 {
		width: 33.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\33 u, .\33 u\24 {
		width: 25%;
		clear: none;
		margin-left: 0;
	}

	.\32 u, .\32 u\24 {
		width: 16.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\31 u, .\31 u\24 {
		width: 8.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\31 2u\24 + *,
	.\31 1u\24 + *,
	.\31 0u\24 + *,
	.\39 u\24 + *,
	.\38 u\24 + *,
	.\37 u\24 + *,
	.\36 u\24 + *,
	.\35 u\24 + *,
	.\34 u\24 + *,
	.\33 u\24 + *,
	.\32 u\24 + *,
	.\31 u\24 + * {
		clear: left;
	}

	.\-11u {
		margin-left: 91.66667%;
	}

	.\-10u {
		margin-left: 83.33333%;
	}

	.\-9u {
		margin-left: 75%;
	}

	.\-8u {
		margin-left: 66.66667%;
	}

	.\-7u {
		margin-left: 58.33333%;
	}

	.\-6u {
		margin-left: 50%;
	}

	.\-5u {
		margin-left: 41.66667%;
	}

	.\-4u {
		margin-left: 33.33333%;
	}

	.\-3u {
		margin-left: 25%;
	}

	.\-2u {
		margin-left: 16.66667%;
	}

	.\-1u {
		margin-left: 8.33333%;
	}

	@media screen and (min-width: 737px) {

		.row > * {
			padding: 25px 0 0 25px;
		}

		.row {
			margin: -25px 0 -1px -25px;
		}

		.row.uniform > * {
			padding: 25px 0 0 25px;
		}

		.row.uniform {
			margin: -25px 0 -1px -25px;
		}

		.row.\32 00\25 > * {
			padding: 50px 0 0 50px;
		}

		.row.\32 00\25 {
			margin: -50px 0 -1px -50px;
		}

		.row.uniform.\32 00\25 > * {
			padding: 50px 0 0 50px;
		}

		.row.uniform.\32 00\25 {
			margin: -50px 0 -1px -50px;
		}

		.row.\31 50\25 > * {
			padding: 37.5px 0 0 37.5px;
		}

		.row.\31 50\25 {
			margin: -37.5px 0 -1px -37.5px;
		}

		.row.uniform.\31 50\25 > * {
			padding: 37.5px 0 0 37.5px;
		}

		.row.uniform.\31 50\25 {
			margin: -37.5px 0 -1px -37.5px;
		}

		.row.\35 0\25 > * {
			padding: 12.5px 0 0 12.5px;
		}

		.row.\35 0\25 {
			margin: -12.5px 0 -1px -12.5px;
		}

		.row.uniform.\35 0\25 > * {
			padding: 12.5px 0 0 12.5px;
		}

		.row.uniform.\35 0\25 {
			margin: -12.5px 0 -1px -12.5px;
		}

		.row.\32 5\25 > * {
			padding: 6.25px 0 0 6.25px;
		}

		.row.\32 5\25 {
			margin: -6.25px 0 -1px -6.25px;
		}

		.row.uniform.\32 5\25 > * {
			padding: 6.25px 0 0 6.25px;
		}

		.row.uniform.\32 5\25 {
			margin: -6.25px 0 -1px -6.25px;
		}

		.\31 2u\28desktop\29, .\31 2u\24\28desktop\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28desktop\29, .\31 1u\24\28desktop\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28desktop\29, .\31 0u\24\28desktop\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28desktop\29, .\39 u\24\28desktop\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28desktop\29, .\38 u\24\28desktop\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28desktop\29, .\37 u\24\28desktop\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28desktop\29, .\36 u\24\28desktop\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28desktop\29, .\35 u\24\28desktop\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28desktop\29, .\34 u\24\28desktop\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28desktop\29, .\33 u\24\28desktop\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28desktop\29, .\32 u\24\28desktop\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28desktop\29, .\31 u\24\28desktop\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28desktop\29 + *,
		.\31 1u\24\28desktop\29 + *,
		.\31 0u\24\28desktop\29 + *,
		.\39 u\24\28desktop\29 + *,
		.\38 u\24\28desktop\29 + *,
		.\37 u\24\28desktop\29 + *,
		.\36 u\24\28desktop\29 + *,
		.\35 u\24\28desktop\29 + *,
		.\34 u\24\28desktop\29 + *,
		.\33 u\24\28desktop\29 + *,
		.\32 u\24\28desktop\29 + *,
		.\31 u\24\28desktop\29 + * {
			clear: left;
		}

		.\-11u\28desktop\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28desktop\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28desktop\29 {
			margin-left: 75%;
		}

		.\-8u\28desktop\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28desktop\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28desktop\29 {
			margin-left: 50%;
		}

		.\-5u\28desktop\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28desktop\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28desktop\29 {
			margin-left: 25%;
		}

		.\-2u\28desktop\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28desktop\29 {
			margin-left: 8.33333%;
		}

	}

	@media screen and (min-width: 737px) and (max-width: 1200px) {

		.row > * {
			padding: 20px 0 0 20px;
		}

		.row {
			margin: -20px 0 -1px -20px;
		}

		.row.uniform > * {
			padding: 20px 0 0 20px;
		}

		.row.uniform {
			margin: -20px 0 -1px -20px;
		}

		.row.\32 00\25 > * {
			padding: 40px 0 0 40px;
		}

		.row.\32 00\25 {
			margin: -40px 0 -1px -40px;
		}

		.row.uniform.\32 00\25 > * {
			padding: 40px 0 0 40px;
		}

		.row.uniform.\32 00\25 {
			margin: -40px 0 -1px -40px;
		}

		.row.\31 50\25 > * {
			padding: 30px 0 0 30px;
		}

		.row.\31 50\25 {
			margin: -30px 0 -1px -30px;
		}

		.row.uniform.\31 50\25 > * {
			padding: 30px 0 0 30px;
		}

		.row.uniform.\31 50\25 {
			margin: -30px 0 -1px -30px;
		}

		.row.\35 0\25 > * {
			padding: 10px 0 0 10px;
		}

		.row.\35 0\25 {
			margin: -10px 0 -1px -10px;
		}

		.row.uniform.\35 0\25 > * {
			padding: 10px 0 0 10px;
		}

		.row.uniform.\35 0\25 {
			margin: -10px 0 -1px -10px;
		}

		.row.\32 5\25 > * {
			padding: 5px 0 0 5px;
		}

		.row.\32 5\25 {
			margin: -5px 0 -1px -5px;
		}

		.row.uniform.\32 5\25 > * {
			padding: 5px 0 0 5px;
		}

		.row.uniform.\32 5\25 {
			margin: -5px 0 -1px -5px;
		}

		.\31 2u\28tablet\29, .\31 2u\24\28tablet\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28tablet\29, .\31 1u\24\28tablet\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28tablet\29, .\31 0u\24\28tablet\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28tablet\29, .\39 u\24\28tablet\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28tablet\29, .\38 u\24\28tablet\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28tablet\29, .\37 u\24\28tablet\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28tablet\29, .\36 u\24\28tablet\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28tablet\29, .\35 u\24\28tablet\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28tablet\29, .\34 u\24\28tablet\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28tablet\29, .\33 u\24\28tablet\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28tablet\29, .\32 u\24\28tablet\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28tablet\29, .\31 u\24\28tablet\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28tablet\29 + *,
		.\31 1u\24\28tablet\29 + *,
		.\31 0u\24\28tablet\29 + *,
		.\39 u\24\28tablet\29 + *,
		.\38 u\24\28tablet\29 + *,
		.\37 u\24\28tablet\29 + *,
		.\36 u\24\28tablet\29 + *,
		.\35 u\24\28tablet\29 + *,
		.\34 u\24\28tablet\29 + *,
		.\33 u\24\28tablet\29 + *,
		.\32 u\24\28tablet\29 + *,
		.\31 u\24\28tablet\29 + * {
			clear: left;
		}

		.\-11u\28tablet\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28tablet\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28tablet\29 {
			margin-left: 75%;
		}

		.\-8u\28tablet\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28tablet\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28tablet\29 {
			margin-left: 50%;
		}

		.\-5u\28tablet\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28tablet\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28tablet\29 {
			margin-left: 25%;
		}

		.\-2u\28tablet\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28tablet\29 {
			margin-left: 8.33333%;
		}

	}

	@media screen and (max-width: 736px) {

		.row > * {
			padding: 15px 0 0 15px;
		}

		.row {
			margin: -15px 0 -1px -15px;
		}

		.row.uniform > * {
			padding: 15px 0 0 15px;
		}

		.row.uniform {
			margin: -15px 0 -1px -15px;
		}

		.row.\32 00\25 > * {
			padding: 30px 0 0 30px;
		}

		.row.\32 00\25 {
			margin: -30px 0 -1px -30px;
		}

		.row.uniform.\32 00\25 > * {
			padding: 30px 0 0 30px;
		}

		.row.uniform.\32 00\25 {
			margin: -30px 0 -1px -30px;
		}

		.row.\31 50\25 > * {
			padding: 22.5px 0 0 22.5px;
		}

		.row.\31 50\25 {
			margin: -22.5px 0 -1px -22.5px;
		}

		.row.uniform.\31 50\25 > * {
			padding: 22.5px 0 0 22.5px;
		}

		.row.uniform.\31 50\25 {
			margin: -22.5px 0 -1px -22.5px;
		}

		.row.\35 0\25 > * {
			padding: 7.5px 0 0 7.5px;
		}

		.row.\35 0\25 {
			margin: -7.5px 0 -1px -7.5px;
		}

		.row.uniform.\35 0\25 > * {
			padding: 7.5px 0 0 7.5px;
		}

		.row.uniform.\35 0\25 {
			margin: -7.5px 0 -1px -7.5px;
		}

		.row.\32 5\25 > * {
			padding: 3.75px 0 0 3.75px;
		}

		.row.\32 5\25 {
			margin: -3.75px 0 -1px -3.75px;
		}

		.row.uniform.\32 5\25 > * {
			padding: 3.75px 0 0 3.75px;
		}

		.row.uniform.\32 5\25 {
			margin: -3.75px 0 -1px -3.75px;
		}

		.\31 2u\28mobile\29, .\31 2u\24\28mobile\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28mobile\29, .\31 1u\24\28mobile\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28mobile\29, .\31 0u\24\28mobile\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28mobile\29, .\39 u\24\28mobile\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28mobile\29, .\38 u\24\28mobile\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28mobile\29, .\37 u\24\28mobile\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28mobile\29, .\36 u\24\28mobile\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28mobile\29, .\35 u\24\28mobile\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28mobile\29, .\34 u\24\28mobile\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28mobile\29, .\33 u\24\28mobile\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28mobile\29, .\32 u\24\28mobile\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28mobile\29, .\31 u\24\28mobile\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28mobile\29 + *,
		.\31 1u\24\28mobile\29 + *,
		.\31 0u\24\28mobile\29 + *,
		.\39 u\24\28mobile\29 + *,
		.\38 u\24\28mobile\29 + *,
		.\37 u\24\28mobile\29 + *,
		.\36 u\24\28mobile\29 + *,
		.\35 u\24\28mobile\29 + *,
		.\34 u\24\28mobile\29 + *,
		.\33 u\24\28mobile\29 + *,
		.\32 u\24\28mobile\29 + *,
		.\31 u\24\28mobile\29 + * {
			clear: left;
		}

		.\-11u\28mobile\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28mobile\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28mobile\29 {
			margin-left: 75%;
		}

		.\-8u\28mobile\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28mobile\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28mobile\29 {
			margin-left: 50%;
		}

		.\-5u\28mobile\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28mobile\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28mobile\29 {
			margin-left: 25%;
		}

		.\-2u\28mobile\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28mobile\29 {
			margin-left: 8.33333%;
		}

	}

/* Basic */

	body {
		background: #191d23;
		color: #979797;
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
	}

	a {
		color: #fff;
		text-decoration: none;
	}

	strong {
		font-weight: 700;
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: 700;
		color: #fff;
		text-transform: uppercase;
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			text-decoration: none;
			color: #fff;
		}

		h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
			font-weight: 400;
		}

	h2 {
		font-size: 1.5em;
		margin: 0 0 1.5em 0;
	}

	h3 {
		font-size: 1em;
		margin: 0 0 1em 0;
	}

	a:hover {
		text-decoration: none;
	}

	form input, form select, form textarea {
		-webkit-appearance: none;
	}

	br.clear {
		clear: both;
	}

	p, ul, ol, dl, table, section, article {
		margin-bottom: 2em;
	}

	section > :last-child, section:last-child, article > :last-child, article:last-child {
		margin-bottom: 0;
	}

	.image {
		display: inline-block;
	}

		.image img {
			display: block;
			width: 100%;
			border-radius: 6px;
		}

		.image.full {
			display: block;
			width: 100%;
			margin: 0 0 2em 0;
		}

		.image.left {
			float: left;
			margin: 0em 2.5em 2.5em 0;
		}

		.image.center {
			display: block;
			width: 100%	;
			margin: 0 auto;
		}

	ul.style1 {
		list-style: disc;
		padding-left: 1em;
	}

	ul.style2 p {
		margin-bottom: 0;
	}

	ul.style2 li {
		border-top: solid 1px rgba(255, 255, 255, 0.1);
		padding-top: 0.725em;
		margin-top: 0.725em;
	}

		ul.style2 li:first-child {
			border-top: 0;
			padding-top: 0;
			margin-top: 0;
		}

	ul.style3 p {
		margin-bottom: 0;
	}

	ul.style3 li {
		position: relative;
		border-top: solid 1px rgba(255, 255, 255, 0.1);
		padding: 1.5em 0 0 0;
		margin-top: 1.5em;
	}

		ul.style3 li:first-child {
			border-top: 0;
			padding-top: 0;
			margin-top: 0;
		}

	ul.contact p {
		margin-bottom: 0;
	}

	ul.contact li {
		position: relative;
		border-top: solid 1px rgba(255, 255, 255, 0.1);
		padding: 1.25em 0 0 2.75em;
		margin-top: 1.25em;
	}

		ul.contact li:before {
			position: absolute;
			left: 0;
			top: 1.2em;
			color: #fff;
		}

		ul.contact li:first-child {
			border-top: 0;
			padding-top: 0;
			margin-top: 0;
		}

			ul.contact li:first-child:before {
				top: 0.1em;
			}

	.timestamp {
		font-size: 0.8em;
		display: block;
		opacity: 0.5;
		margin: 0.25em 0 0 0;
	}

	.button {
		-moz-transition: background-color .25s ease-in-out;
		-webkit-transition: background-color .25s ease-in-out;
		-ms-transition: background-color .25s ease-in-out;
		transition: background-color .25s ease-in-out;
		position: relative;
		display: inline-block;
		color: #fff;
		border-radius: 6px;
		box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.15);
		padding: 1em 2em 1em 1.5em;
		text-decoration: none;
		font-weight: 700;
		font-size: 1.05em;
		text-transform: uppercase;
		letter-spacing: -0.05em;
	}

		.button:hover {
			background: rgba(255, 255, 255, 0.05);
		}

		.button:before {
			margin-right: 1em;
		}

	.bigbutton {
		-moz-transition: background-color .25s ease-in-out;
		-webkit-transition: background-color .25s ease-in-out;
		-ms-transition: background-color .25s ease-in-out;
		transition: background-color .25s ease-in-out;
		position: relative;
		display: inline-block;
		background: #32353a;
		color: #fff;
		border-radius: 6px;
		box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.25);
		padding: 0.85em 1.75em 0.85em 1em;
		text-decoration: none;
		font-weight: 700;
		font-size: 1.5em;
		text-transform: uppercase;
		letter-spacing: -0.05em;
	}

		.bigbutton:hover {
			background: #2d3238;
		}

		.bigbutton:before {
			position: relative;
			top: 0.1em;
			margin-right: 0.65em;
		}

		.bigbutton.style1 {
			background: green;
		}

			.bigbutton.style1:hover {
				background: rgba(0, 128, 0, .4);
			}

		.bigbutton.style2 {
			background: #3F608C;
		}

			.bigbutton.style2:hover {
				background: #4F709C;
			}

	.box {
		background: #2c2f34;
		background: rgba(44, 47, 52, 0.95);
		border-radius: 6px;
		padding: 3em 2em 3em 2em;
		overflow: hidden;
	}

		.box header {
			margin-bottom: 2em;
		}

			.box header h2 {
				margin-bottom: 0.5em;
			}

		.box footer {
			clear: both;
		}

		.box section, .box article {
			border-bottom: solid 1px rgba(255, 255, 255, 0.1);
			padding-bottom: 2em;
			margin-bottom: 2em;
		}

			.box section:last-of-type, .box article:last-of-type {
				border-bottom: 0 !important;
				margin-bottom: 0 !important;
				padding-bottom: 0 !important;
			}

		.box.style1 {
			box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.25);
			color: #fff;
			color: rgba(255, 255, 255, 0.75);
			background: green;
		}

		.box.style1 a:hover {
			text-decoration: underline;
		}

		.box.style2 {
			box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.25);
			color: #fff;
			color: rgba(255, 255, 255, 0.75);
			background: #3F608C;
		}

		.box.cta p {
			color: #c9c9c9;
		}

		.box.features .button {
			margin-top: 2em;
		}

		.box.features h3:hover {
			text-decoration: underline;
		}

/* Logo */
	.logo-img {
		width: 80px;
	}

	.logo-title {
		font-size: 1.5em;
		text-transform: uppercase;
		padding-left: 10px;
	}

/* Wrappers */

	#header-wrapper {
		background-color: cornflowerblue;
	}

/* Banner */

	#banner .caption h2 {
		font-weight: 700;
		text-transform: uppercase;
		color: #fff;
	}

	#banner .caption p {
		color: #ddd;
		color: rgba(255, 255, 255, 0.65);
	}

/* Copyright */

	#copyright {
		text-align: center;
		border-top: solid 1px rgba(255, 255, 255, 0.1);
		color: #555;
		color: rgba(255, 255, 255, 0.25);
	}

/* Icons */

	.icon {
		text-decoration: none;
	}

		.icon:before {
			display: inline-block;
			font-family: FontAwesome;
			font-size: 1.25em;
			text-decoration: none;
			font-style: normal;
			font-weight: normal;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}

/* Desktop */

	@media screen and (min-width: 737px) {

		/* Basic */

			body {
				font-size: 10pt;
				line-height: 1.75em;
			}

			.box.cta {
				padding-top: 3em;
				padding-bottom: 3em;
			}

				.box.cta h2 {
					font-size: 2.35em;
					letter-spacing: -0.05em;
					margin: 0 0 0.8em 0;
				}

				.box.cta p {
					font-size: 1.4em;
					line-height: 1.35em;
					margin: 1em 0 1.25em 0;
				}

				.box.cta section {
					padding-bottom: 3em;
					margin-bottom: 3em;
				}

				.box.cta img {
					width: 100%%;
				}

				.box.cta a {
					font-size: 1em;
				}

			.box.main {
				padding-top: 4em;
				padding-bottom: 4em;
			}

				.box.main h2 {
					font-size: 2.35em;
					letter-spacing: -0.05em;
					margin: 0 0 0.8em 0;
				}

			.box.post .image {
				width: 10em;
			}

			.box.post p {
				margin-left: 12.5em;
			}

		/* Wrappers */

			#header-wrapper {
				height: 16.5em;
			}

			.homepage #header-wrapper {
				height: auto;
			}

			#main-wrapper {
				padding: 0 0 4.5em 0;
			}


		/* Header */

			#header {
				border-radius: 6px;
				position: relative;
				margin-top: 3em;
				height: 7em;
				line-height: 7em;
				padding-left: 2.5em;
			}

				#header h1 {
					font-size: 2.65em;
					font-weight: 700;
					text-transform: uppercase;
					letter-spacing: -0.05em;
				}

					#header h1 a {
						color: #fff;
					}

		/* Nav */

			#nav {
				position: absolute;
				right: 2.5em;
				top: 0;
			}

				#nav ul li {
					float: left;
					margin-left: 1.5em;
					height: 7em;
					line-height: 7em;
				}

					#nav ul li a {
						-moz-transition: background-color .25s ease-in-out;
						-webkit-transition: background-color .25s ease-in-out;
						-ms-transition: background-color .25s ease-in-out;
						transition: background-color .25s ease-in-out;
						color: #ccc;
						text-decoration: none;
						text-transform: uppercase;
						font-weight: 700;
						padding: 0.55em 1.4em 0.55em 1.4em;
						border-radius: 6px;
						outline: 0;
					}

						#nav ul li a:hover {
							color: #fff;
						}

					#nav ul li.current_page_item a, #nav ul li.active a {
						background: rgba(225, 225, 225, .5);
						color: #fff;
					}

				#nav > ul > li > ul {
					display: none;
				}

			.dropotron {
				background: #2c2f34;
				background: rgba(44, 47, 52, 0.95);
				border-radius: 6px;
				padding: 1.5em 0 1.5em 0;
				min-width: 20em;
				box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.15);
			}

				.dropotron.level-0 {
					border-top-left-radius: 0;
					border-top-right-radius: 0;
					padding-top: 0;
					font-size: 0.8em;
				}

				.dropotron li {
					-moz-transition: background-color .25s ease-in-out;
					-webkit-transition: background-color .25s ease-in-out;
					-ms-transition: background-color .25s ease-in-out;
					transition: background-color .25s ease-in-out;
					padding: 1em 1.75em 1em 1.75em;
				}

					.dropotron li a, .dropotron li span {
						color: #ccc;
						text-decoration: none;
						text-transform: uppercase;
						font-weight: 700;
					}

				.dropotron > li:hover {
					background: #20242A;
					color: #fff;
				}

					.dropotron > li:hover > a, .dropotron > li:hover > span {
						color: #fff;
					}

		/* Banner */

			#banner {
				margin-top: 5em;
				margin-bottom: 8em;
				position: relative;
				padding: 0 2.5em;
			}

				#banner .caption {
					left: 1.75em;
					bottom: 3em;
				}

					#banner .caption h2 {
						font-size: 3em;
						letter-spacing: -0.05em;
						margin-bottom: 0.35em;
					}

					#banner .caption p {
						font-size: 1.5em;
						margin: 0;
						padding-bottom: 1em;
					}

					#banner .book-list {
						width: 100%;
						display: flex;
						flex-wrap: nowrap;
						justify-content: space-between;
						text-align: center;
					}

					#banner .book-item {
						border-radius: 6px;
					}

					#banner .bigbutton {
						margin-top: 1em;
						background-color: rgba(225, 225, 225, .5);
						box-shadow: none;
					}

					#banner .bigbutton:hover {
						background-color: #3f608c;

					}

		/* Main */

			#main {
				position: relative;
				margin-top: 2em;
			}

			.homepage #main {
				margin-top: -8.25em;
			}

		/* Content */

			#content .box {
				padding-left: 2.75em;
				padding-right: 2.75em;
			}

		/* Copyright */

			#copyright {
				padding: 1em;
			}

	}

/* Tablet */

	@media screen and (min-width: 737px) and (max-width: 1200px) {

		/* Basic */

			body {
				min-width: 1000px;
				font-size: 10pt;
			}

			.box {
				padding: 2em 1.5em 2em 1.5em;
			}

			.box-cta p {
				font-size: 1.5em;
			}

		/* Wrappers */

			#header-wrapper {
				height: 11em;
			}

			#main-wrapper {
				padding: 0 0 3.5em 0;
			}

			#footer-wrapper {
				padding: 3.5em 0 0 0;
			}

		/* Header */

			#header {
				height: 5em;
				line-height: 5em;
				margin-top: 1.5em;
			}

				#header h1 {
					font-size: 2em;
				}

		/* Nav */

			#nav ul li {
				margin-left: 0.5em;
				height: 5em;
				line-height: 5em;
			}

		/* Banner */

			#banner {
				margin-bottom: 6em;
			}

				#banner .caption h2 {
					font-size: 2.5em;
				}

				#banner .caption p {
					font-size: 1.35em;
				}

		/* Main */

			#main {
				margin-top: 2em;
			}

			.homepage #main {
				margin-top: -6em;
			}

		/* Content */

			#content .box {
				padding: 3em 2em 3em 2em;
			}

	}

/* Mobile */

	#navPanel, #titleBar {
		display: none;
	}

	@media screen and (max-width: 736px) {

		/* Basic */

			html, body {
				overflow-x: hidden;
			}

			body {
				line-height: 1.35em;
				font-size: 10pt;
				letter-spacing: 0;
				color: #ccc;
				background: cornflowerblue;
			}

			h2 {
				font-size: 1.2em;
			}

			h3, h4, h6 {
				font-size: 1em;
			}

			section, article {
				clear: both;
			}

			.image {
				display: block;
				width: 100%;
				margin: 0 0 1.5em 0;
			}

				.image img {
					display: block;
					width: 100%;
				}

				.image.left {
					width: 30%;
					margin: 0 2em 0.75em 0;
				}

			.box {
				padding: 2em 10px 2em 10px;
				margin: 0 0 10px 0;
			}

			.box.style1 {
				background: rgba(225, 225, 225, .5);
			}

				.box.cta {
					text-align: center;
				}

				.box.cta p {
					margin-top: 2em;
				}


			.button {
				text-align: center;
				padding: 0.85em 1.75em 0.85em 1em;
				font-size: 1.2em;
			}

			.bigbutton {
				text-align: center;
				font-size: 1.2em;

			}

			.bigbutton.style2 {
				background: rgba(225, 225, 225, .5);
			}

		/* Off-Canvas Navigation */

			#page-wrapper {
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				padding-bottom: 1px;
				padding-top: 44px;
			}

			.homepage #page-wrapper {
				padding-top: 0;
			}

			#titleBar {
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				display: block;
				height: 44px;
				left: 0;
				position: fixed;
				top: 0;
				width: 100%;
				z-index: 10001;
				background: rgba(0, 0, 0, 0.35);
			}

				#titleBar .title {
					display: block;
					text-align: center;
					color: #fff;
					font-size: 1em;
					font-weight: 700;
					text-transform: uppercase;
					letter-spacing: -0.05em;
					line-height: 44px;
				}

				#titleBar .logo-img {
					width: 40px;
				}

				#titleBar .logo-title {
					font-size: 1em;
				}

				#titleBar .toggle {
					position: absolute;
					left: 0;
					top: 0;
					text-indent: -9999px;
					background: url("images/toggle.svg") 8px 15px no-repeat;
					width: 44px;
					height: 44px;
				}

					#titleBar .toggle:active {
						opacity: 0.75;
					}

			#navPanel {
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-transform: translateX(-275px);
				-webkit-transform: translateX(-275px);
				-ms-transform: translateX(-275px);
				transform: translateX(-275px);
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				display: block;
				height: 100%;
				left: 0;
				overflow-y: auto;
				position: fixed;
				top: 0;
				width: 275px;
				z-index: 10002;
				box-shadow: inset 1px 0px 5px 0px rgba(0, 0, 0, 0.2);
				text-decoration: none;
				text-transform: uppercase;
				font-weight: 700;
				font-size: 0.9em;
			}

				#navPanel .link {
					display: block;
					color: #fff;
					color: rgba(255, 255, 255, 0.5);
					text-decoration: none;
					height: 44px;
					line-height: 44px;
					border-top: solid 1px rgba(255, 255, 255, 0.035);
					padding: 0 1em 0 1em;
				}

					#navPanel .link:first-child {
						border-top: 0;
					}

				#navPanel .indent-1 {
					display: inline-block;
					width: 1em;
				}

				#navPanel .indent-2 {
					display: inline-block;
					width: 2em;
				}

				#navPanel .indent-3 {
					display: inline-block;
					width: 3em;
				}

				#navPanel .indent-4 {
					display: inline-block;
					width: 4em;
				}

				#navPanel .indent-5 {
					display: inline-block;
					width: 5em;
				}

				#navPanel .depth-0 {
					color: #fff;
				}

			body.navPanel-visible #page-wrapper {
				-moz-transform: translateX(275px);
				-webkit-transform: translateX(275px);
				-ms-transform: translateX(275px);
				transform: translateX(275px);
			}

			body.navPanel-visible #titleBar {
				-moz-transform: translateX(275px);
				-webkit-transform: translateX(275px);
				-ms-transform: translateX(275px);
				transform: translateX(275px);
			}

			body.navPanel-visible #navPanel {
				-moz-transform: translateX(0);
				-webkit-transform: translateX(0);
				-ms-transform: translateX(0);
				transform: translateX(0);
			}

		/* Wrappers */

			#header-wrapper {
				display: none;
			}

			.homepage #header-wrapper {
				display: block;
				margin-top: -1%;
			}

			#main-wrapper {
				padding: 10px;

			}

		/* Header */

			#header, #nav {
				display: none;
			}

		/* Banner */

			#banner {
				width: 100%;
				padding: 5em 20px 1em;
				text-align: center;
			}

				#banner h2 {
					margin: 0 0 0.5em 0;
				}

				#banner p {
					margin: 0.5em;
				}

				#banner img {
					margin: 1em auto;
					width: auto;
				}



		/* Content */

			#content {
				margin: 0 0 10px 0;
			}

		/* Sidebar 1 */

			#sidebar1 {
				margin: 0 0 10px 0;
				text-align: center;
			}

			#sidebar1:last-child {

			}

		/* Sidebar 2 */

			#sidebar2 {
				margin: 0 0 10px 0;
			}

		/* Footer */

			#footer section {
				padding: 2em 20px 2em 20px;
				border-top: solid 1px rgba(255, 255, 255, 0.1);
			}

				#footer section:first-of-type {
					border-top: 0;
				}

		/* Copyright */

			#copyright {
				padding: 2em 20px 2em 20px;
			}

	}

